footer {
    background-color: rgba(255, 255, 255, 0.3); 
    box-sizing: border-box;
    font-weight: 600; 
    color: rgb(53, 53, 53); 
    text-align: center; 
    padding: 2rem;

}

footer div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

footer a.profile-link {
    color: rgb(53, 53, 53);
    text-decoration: underline;
    font-weight: 700;
}

footer a.profile-link:hover {
    color: #000;
}

@media (max-width: 600px) {
    footer {
        padding: 1rem;
    }

    .perfil {
        gap: 0.3rem;
    }

    footer a.profile-link {
        font-size: 0.9rem;
    }
}