/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(255, 193, 255), rgb(192, 221, 255));
    
}