<div class="quiz-container">

    @if (quizContent) {
    <header class="quiz-header">
        <a [routerLink]="['/course', courseId]" class="back-link">
            &larr; Back to Course
        </a>
        <h1>{{quizContent.title}}</h1>
        <p>{{quizContent.contentDescription}}</p>
    </header>

    @if (result) {
    <div class="quiz-result">
        <h2>Quiz Complete!</h2>
        <p class="score"> Your Score:</p>
        
        <p class="score-display">
            <strong>{{ result.percentage | number:'1.0-0' }}%</strong>
        </p>
        
        <p class="score-raw">
          ({{ result.score }} de {{ result.total }} puntos)
        </p>

        <a [routerLink]="['/course', courseId]" class="btn-primary"> Return to Course</a>
    </div>
    }

    @else {
    <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
        <div formArrayName="answers">
            @for (answerControl of getQuizAnswers().controls; track answerControl; let qIndex = $index){
            @if (quizContent.questions[qIndex]; as question) {
            <div class="quiz-questions-card">
                <h4 class="quiz-question-title">{{ qIndex + 1 }}. {{ question.questionText }}</h4>

                @for (option of question.options; track $index; let oIndex = $index) {
                <div class="quiz-option">
                    <input type="radio" [id]="'q' + qIndex + '_o' + oIndex" [value]="oIndex"
                        [formControl]="$any(answerControl)"
                        [name]="'question-' + qIndex">
                    <label [for]="'q' + qIndex + '_o' + oIndex"> {{option}} </label>
                </div>
                }
            </div>
            }
            }

        </div>

        <button type="submit" class="btn-submit-quiz" [disabled]="quizForm.invalid">
            Submit Quiz
        </button>
    </form>
    }
    } @else {
        <p>Loading quiz...</p>
    }

</div>