.form-container {
  padding: 2rem;
  max-width: 450px; 
  width: 90%;
  margin: 10vh auto;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #333;
}

.form-container fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  gap: 0.5rem;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-register {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 15px;
}

.btn-register:disabled {
  background-color: #a0c3e8; 
  cursor: not-allowed;
}

.msj-error {
  color: #dc3545; 
  font-size: 0.9em;
  margin-top: 5px;
}