.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
}    

.msj-error {
    display: block;
    background: white;
    color: rgb(80, 49, 87);
    width: 100%; 
    box-sizing: border-box;
    padding: 0.4rem;
    border-radius: 3px;
    margin: 5px 0;
    line-height: 1.2;
    word-wrap: break-word;
}

input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0 5px;
    width: 100%; 
    box-sizing: border-box;
}

fieldset {
    box-sizing: border-box;
    padding: 10px 30px;
    border: none; 
}

.btn-register {
    background-color: #007bff;
    color: white;
    align-self: center;
    width: 100%; 
    max-width: 200px; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    text-align: center;
    box-sizing: border-box;
}

.btn-register:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.btn-register:disabled {
    background-color: #ccc;
    color: #666;
    cursor: auto;
}