footer{
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2.5rem;
    gap: 0.5rem;
}

@media (max-width: 600px) {
    footer {
        padding: 1rem;
    }

    footer {
        gap: 0.3rem;
    }
}