ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    list-style-type: none;
}

a{
    color: white;
    font-size: large;
    text-decoration: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 15px;
}

a:hover{
    background: hsl(0, 0%, 20%, 0.7);

}

a:active {
    background: hsla(0, 0%, 100%, 0.7);
    color:#000;
}