<div class="new-course-container">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

        <h2>{{ isEditMode ? 'Edit Course' : 'Create new course' }}</h2>

        <fieldset class="form-card">
            <label for="title">Title of course: </label>
            <input type="text" id="title" formControlName="title" placeholder="Course Title">
            @if (courseForm.get('title')?.hasError('required')&&courseForm.get('title')?.touched){
            <p class="validation-error">Course's title is required</p>
            }
        </fieldset>

        <fieldset form-card>
            <label for="description">Description: </label>
            <textarea type="text" id="description" formControlName="description"
                placeholder="Course Description"></textarea>
            @if (courseForm.get('description')?.hasError('required')&&courseForm.get('description')?.touched){
            <p class="validation-error">Course's description is required</p>
            }
        </fieldset>

        <div class="form-card">
            <fieldset>
                <label for="category">Category: </label>
                <select id="category" formControlName="category">
                    <option value="" disabled selected>Select a category</option>
                    @for (category of courseCategories; track category){
                    <option [value]="category">{{ category }}</option>
                    }
                </select>
                @if(courseForm.get('category')?.hasError('required')&&courseForm.get('category')?.touched){
                <p class="validation-error">Course's category is required</p>
                }
            </fieldset>

            <fieldset style="margin-top: 1rem;">
                <label for="difficultyLevel">Level: </label>
                <select name="difficultyLevel" formControlName="difficultyLevel">
                    <option value="" disabled selected>Select a difficulty level</option>
                    @for (level of difficultyLevels; track level ){
                    <option [value]="level">{{ level }}</option>
                    }
                </select>
                @if(courseForm.get('difficultyLevel')?.hasError('required')&&courseForm.get('difficultyLevel')?.touched){
                <p class="validation-error">Course's difficulty level is required</p>
                }
            </fieldset>
        </div>

        <div formArrayName="sections" class="sections-container">
            <h3>Sections of course</h3>

            @for (section of sections.controls; track $index; let sectionIndex = $index){
            <div [formGroupName]="sectionIndex" class="section-box">

                <div class="section-header">
                    <h4>Section {{ sectionIndex + 1 }}</h4>
                    <button type="button" (click)="removeSection(sectionIndex)">Delete section</button>
                </div>

                <fieldset>
                    <label for="section-title-{{sectionIndex}}">Title of section: </label>
                    <input type="text" id="section-title-{{sectionIndex}}" formControlName="title">
                    @if(section.get('title')?.hasError('required')&&section.get('title')?.touched){
                    <p class="validation-error">Course's section title is required</p>
                    }
                </fieldset>

                <div formArrayName="content" class="content-container">
                    <h5>Content of this section</h5>

                    @for (content of getContent(sectionIndex).controls; track $index; let contentIndex = $index){
                    <div [formGroupName]="contentIndex" class="content-box">
                        <div class="content-header">
                            <h6>Content {{ contentIndex + 1 }}</h6>
                            <button type="button" (click)="removeContent(sectionIndex, contentIndex)">Delete
                                content</button>
                        </div>

                        <fieldset>
                            <label for="content-title-{{ sectionIndex }}-{{ contentIndex }}">Content title</label>
                            <input type="text" id="content-title-{{ sectionIndex }}-{{ contentIndex }}"
                                formControlName="title">
                            @if(content.get('title')?.hasError('required')&&content.get('title')?.touched){
                            <p class="validation-error">Content's title is required</p>
                            }@else if (content.get('title')?.hasError('minlength')) {
                            <p class="validation-error">The length of the title cannot be less than 3</p>
                            }
                        </fieldset>

                        <fieldset>
                            <label for="content-type-{{ sectionIndex }}-{{ contentIndex }}">Type: </label>
                            <select id="content-type-{{ sectionIndex}}-{{ contentIndex }}"
                                formControlName="contentType">
                                <option value="" disabled selected>Select content type</option>
                                @for (type of contentTypes; track type){
                                <option [value]="type"> {{ type }}</option>
                                }
                            </select>
                            @if(content.get('contentType')?.hasError('required')&&content.get('contentType')?.touched){
                            <p class="validation-error">Content type is required</p>
                            }
                        </fieldset>

                        @if (content.get('contentType')?.value === 'Video' || content.get('contentType')?.value ===
                        'Pdf' || content.get('contentType')?.value === 'Word') {
                        <fieldset>
                            <label for="content-file-{{ sectionIndex }}-{{ contentIndex }}">Upload File:</label>

                            <div class="custom-file-input">
                                <input type="file" id="content-file-{{ sectionIndex }}-{{ contentIndex }}"
                                    formControlName="file" (change)="onFileSelected($event, sectionIndex, contentIndex)"
                                    class="visually-hidden"
                                    [accept]="getAcceptString(content.get('contentType')?.value)">
                                    <label for="content-file-{{ sectionIndex }}-{{ contentIndex }}"
                                    class="file-input-label">
                                    Select file </label>

                                @if(content.get('fileName')?.value && content.get('uploadProgress')?.value !== -1){
                                <span class="file-info">Selected: {{ content.get('fileName')?.value }}</span>
                                } @else {
                                <span class="file-info no-file">No file selected</span>
                                }
                            </div>

                            @if(content.get('uploadProgress')?.value > 0 && content.get('uploadProgress')?.value < 100){
                                <progress [value]="content.get('uploadProgress')?.value" max="100"></progress>
                                }
                                @if(content.get('uploadProgress')?.value === -1){
                                <span class="file-info upload-error">Upload Failed</span>
                                }

                                <p>Or</p>
                        </fieldset>

                        <label for="content-url-{{ sectionIndex }}-{{ contentIndex }}">Enter URL:</label>
                        <input type="text" id="content-url-{{ sectionIndex }}-{{ contentIndex }}"
                            formControlName="fileUrl" placeholder="Enter the URL"
                            [readOnly]="content.get('uploadProgress')?.value === 100">
                        @if(content.get('uploadProgress')?.value === 100 || (content.get('fileUrl')?.value &&
                        content.get('fileUrl')?.value !== '')){
                        <button type="button" class="btn-change-file"
                            (click)="resetFileState(sectionIndex, contentIndex)">Change
                            File</button>
                        }
                        <fieldset>
                            @if(content.get('fileUrl')?.hasError('pattern') &&
                            !content.get('fileUrl')?.disabled){
                            <p class="validation-error">Invalid url format.</p>
                            }
                        </fieldset>
                        <fieldset>
                            @if (content.hasError('fileOrUrlRequired') && content.get('contentType')?.touched) {
                            <p class="validation-error">You must upload a file or provide a URL for this content
                                type.</p>
                            }
                        </fieldset>
                        }

                        @if (content.get('contentType')?.value === 'Text') {
                        <fieldset>
                            <label for="text-content-{{ sectionIndex }}-{{ contentIndex }}">Text content:</label>
                            <textarea id="text-content-{{ sectionIndex }}-{{ contentIndex }}"
                                formControlName="textContent" placeholder="Write the content here..."></textarea>
                            <fieldset>
                                @if (content.hasError('textContentRequired') && content.get('contentType')?.touched) {
                                <p class="validation-error">Text content is required for this type.</p>
                                }
                            </fieldset>
                        </fieldset>
                        }
                        @if (content.get('contentType')?.value === 'Quiz') {
                            <div class="quiz-builder-container" formArrayName="questions">
                                <h5>Quiz builder</h5>

                                @for (question of getQuestions(sectionIndex, contentIndex).controls; track question; let questionIndex = $index) {
                                <div [formGroupName]="questionIndex" class="questionBox">
                                        <div class="question-header">
                                            <strong>Question {{questionIndex + 1}}</strong>
                                            <button type="button" class="btn-remove-small" (click)="removeQuestion(sectionIndex, contentIndex, questionIndex)">Remove question</button>
                                        </div>
                                    
                                    <fieldset>
                                        <label>Question text</label>
                                        <input type="text" formControlName="questionText" placeholder="e.g What is...?">
                                    </fieldset>


                                    <div formArrayName="options" class="options-container">
                                        <label>Options:</label>
                                        @for (option of getOptions(sectionIndex, contentIndex, questionIndex).controls; track option; let optionIndex = $index) {
                                            <div class="option-input">
                                                <span>{{optionIndex}}: </span>
                                                <input type="text" [formControlName]="optionIndex" placeholder="option text">
                                                <button type="button" class="btn-remove-option" (click)="removeOption(sectionIndex, contentIndex, questionIndex, optionIndex)"> X </button>
                                            </div>
                                        }
                                        <button type="button" class="btn-add-option" (click)="addOption(sectionIndex, contentIndex, questionIndex)">+ Add Option</button>
                                    </div>

                                    <fieldset>
                                        <label>Correct Answer Index: </label>
                                        <input type="number" formControlName="correctAnswerIndex" class="correct-answer-index">
                                    </fieldset>

                                    <fieldset>
                                        <label>Score: </label>
                                        <input type="number" formControlName="answerScore" class="answer-score">
                                    </fieldset>
                            </div>
                        }
                        <button type="button" class="btn-add" (click)="addQuestion(sectionIndex, contentIndex)">+ Add Question</button>
                        </div>
                    }
                        <fieldset>
                            <label for="content-description-{{ sectionIndex }}-{{ contentIndex }}">Content
                                description:</label>
                            <textarea id="content-description-{{ sectionIndex }}-{{ contentIndex }}"
                                formControlName="contentDescription"
                                placeholder="Write the content description here..."></textarea>
                            <fieldset>
                                @if (content.get('contentDescription')?.hasError('maxlength')) {
                                <p class="validation-error">The length of the description cannot be greater than 500</p>
                                }
                            </fieldset>
                        </fieldset>
                    </div>
                    }
                    @empty {
                    <p> This section don't have lessons yet.</p>
                    }

                </div> <button type="button" class="btn-add" (click)="addContent(sectionIndex)">+ Add content to this
                    section</button>
            </div>
            } @empty {
            <p>This course don't have lessons yet.</p>
            }

        </div> <button type="button" class="btn-add" (click)="addSection()">+ Add new section</button>

        <hr>

        <button type="submit" [disabled]="courseForm.invalid">
            {{ isEditMode ? 'Save Changes' : 'Save course' }}
        </button>

    </form>
</div>